/.cache
/.work
/_output
cover.out
/vendor
/.vendor-new
.registry

# ignore GoLand files (debug config etc...)
/.idea

# ignore vscode files (debug config etc...)
/.vscode

# ignore asdf local versions
/.tool-versions

# Javascript stuff, for linting schema
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
.yarn-integrity
